In [1]:
import pandas as pd
import numpy as np

EN ESTE NOTEBOOK SE CREAN LAS COLUMNAS NECESARIAS PARA LOS KPIÂ´S QUE SE LLEVARAN A POWER BI

In [2]:
aa = pd.read_csv('aa.csv')
aa.shape

(4993, 20)

In [106]:
aa.head(1)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM
0,EEUU,Military - U.S. Army,Demonstration,Others,2.0,1.0,1.0,1,1.0,0.0,0.0,1908,1,PM

In [110]:
aa['crew_fatalities_decade'] = aa.groupby('decade')['crew_fatalities'].transform('sum')
aa.head(2)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade
0,EEUU,Military - U.S. Army,Demonstration,Others,2.0,1.0,1.0,1,1.0,0.0,0.0,1908,1,PM,84.0
1,France,Sin_Dato,Air show,Others,1.0,0.0,1.0,1,0.0,0.0,0.0,1909,1,AM,84.0

In [111]:
aa.tail(3)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade
4990,Others,Military - Nigerian Air Force,Sin_Dato,Others,11.0,7.0,4.0,11,7.0,4.0,0.0,2021,12,AM,190.0
4991,Others,Military - Myanmar Air Force,Naypyidaw - Anisakan,Beechcraft 1900D,14.0,12.0,2.0,12,11.0,1.0,0.0,2021,12,AM,190.0
4992,Russia,Others,Petropavlovsk - Palana,Antonov,28.0,22.0,6.0,28,22.0,6.0,0.0,2021,12,AM,190.0

In [131]:
aa['decade'].value_counts()

decade
5     658
9     655
6     645
7     635
10    531
4     518
8     516
3     346
11    303
2     119
12     47
1      20
Name: count, dtype: int64

CREACION DE LA COLUMNA TASA DE TRIPULANTES FALLECIDOS CLAVE PARA KPI INDICADO

In [3]:
decade_counts = aa['decade'].value_counts().reset_index()
decade_counts.columns = ['decade', 'count']

aa = aa.merge(decade_counts, on='decade', how='left')

aa['crew_fatality_rate'] = aa['crew_fatalities_decade'] / aa['count']

aa.head(1)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,...,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,total_accidents,passenger_fatalities_decade,deaths_of_decade,passenger_fatality_rate,count
0,EEUU,Military - U.S. Army,Demonstration,Others,2,1,1,1,1,0,...,1908,1,PM,84,4.2,20,99,332,0.2,20

In [4]:
aa['crew_fatality_rate'].value_counts()

crew_fatality_rate
3.831307    658
3.447328    655
4.201550    645
4.072441    635
3.354049    531
3.391892    518
3.755814    516
1.916185    346
3.521452    303
1.899160    119
4.042553     47
4.200000     20
Name: count, dtype: int64

CREACION DE LA COLUMNA DE PASAJEROS FALLECIDOS POR DECADA

In [137]:
aa['passenger_fatalities_decade'] = aa.groupby('decade')['passenger_fatalities'].transform('sum')
aa.head(2)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,count,passenger_fatalities_decade
0,EEUU,Military - U.S. Army,Demonstration,Others,2.0,1.0,1.0,1,1.0,0.0,0.0,1908,1,PM,84.0,0.238095,20,99.0
1,France,Sin_Dato,Air show,Others,1.0,0.0,1.0,1,0.0,0.0,0.0,1909,1,AM,84.0,0.238095,20,99.0

CREACION DE LA COLUMNA TASA DE PASAJEROS FALLECIDOS CLAVE PARA KPI PROPUESTO

In [5]:
aa['passenger_fatality_rate'] = aa['passenger_fatalities_decade'] / aa['count']

aa.head(1)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,...,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,total_accidents,passenger_fatalities_decade,deaths_of_decade,passenger_fatality_rate,count
0,EEUU,Military - U.S. Army,Demonstration,Others,2,1,1,1,1,0,...,1908,1,PM,84,4.2,20,99,332,4.95,20

CREACION DE LA COLUMNA DE TOTAL DE FALLECIDOS POR DECADA

In [138]:
aa['deaths_of_decade'] = aa.groupby('decade')['number_of_deaths'].transform('sum')
aa.head(2)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,count,passenger_fatalities_decade,deaths_of_decade
0,EEUU,Military - U.S. Army,Demonstration,Others,2.0,1.0,1.0,1,1.0,0.0,0.0,1908,1,PM,84.0,0.238095,20,99.0,332
1,France,Sin_Dato,Air show,Others,1.0,0.0,1.0,1,0.0,0.0,0.0,1909,1,AM,84.0,0.238095,20,99.0,332

In [149]:
aa.tail(2)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,count,passenger_fatalities_decade,deaths_of_decade
4991,Others,Military - Myanmar Air Force,Naypyidaw - Anisakan,Beechcraft 1900D,14.0,12.0,2.0,12,11.0,1.0,0.0,2021,12,AM,190.0,0.247368,47,1482.0,1712
4992,Russia,Others,Petropavlovsk - Palana,Antonov,28.0,22.0,6.0,28,22.0,6.0,0.0,2021,12,AM,190.0,0.247368,47,1482.0,1712

KPI PASAJERO

In [209]:
aa['kpi_passenger'] = aa.groupby('decade')['passenger_fatality_rate'].pct_change() * 100

KPI TRIPULACION

In [203]:
aa['kpi_crew'] = aa['crew_fatality_rate'].pct_change() * 100

TOTAL DE PERSONAS A BORDO

In [144]:
aa['all_aboard'].sum()

155328.0

TOTAL DE PASAJEROS A BORDO

In [145]:
aa['passengers_on_board'].sum()

131112.0

TOTAL DE PASAJEROS FALLECIDOS

In [147]:
aa['passenger_fatalities'].sum()

91949.0

TOTAL DE TRIPULANTES A BORDO

In [146]:
aa['crew_aboard'].sum()

22452.0

TOTAL DE TRIPULANTES FALLECIDOS

In [148]:
aa['crew_fatalities'].sum()

17781.0

In [164]:
aa['number_of_deaths'].sum()

111399

In [154]:
aa.rename(columns={'count': 'total_accidents'}, inplace=True)

In [6]:
aa.to_csv('aa.csv', index = False)

In [247]:
aa = pd.read_csv('aa.csv')
aa.tail(1)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,total_accidents,passenger_fatalities_decade,deaths_of_decade,passenger_fatality_rate
4992,Russia,Others,Petropavlovsk - Palana,Antonov,28,22,6,28,22,6,0,2021,12,AM,190,0.25,47,1482,1712,0.03

In [210]:
aa.head(1)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,...,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,total_accidents,passenger_fatalities_decade,deaths_of_decade,passenger_fatality_rate,kpi_passenger,kpi_crew
0,EEUU,Military - U.S. Army,Demonstration,Others,2.0,1.0,1.0,1,1.0,0.0,...,1,PM,84.0,0.24,20,99.0,332,0.2,NaN,NaN

In [250]:
aa.tail(1)

,country,operator,route,aircraft,all_aboard,passengers_on_board,crew_aboard,number_of_deaths,passenger_fatalities,crew_fatalities,ground,year,decade,AM_PM,crew_fatalities_decade,crew_fatality_rate,total_accidents,passenger_fatalities_decade,deaths_of_decade,passenger_fatality_rate
4992,Russia,Others,Petropavlovsk - Palana,Antonov,28,22,6,28,22,6,0,2021,12,AM,190,0.25,47,1482,1712,0.03

In [248]:
aa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4993 entries, 0 to 4992
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      4993 non-null   object
 1   operator                     4993 non-null   object
 2   route                        4993 non-null   object
 3   aircraft                     4993 non-null   object
 4   all_aboard                   4993 non-null   int64
 5   passengers_on_board          4993 non-null   int64
 6   crew_aboard                  4993 non-null   int64
 7   number_of_deaths             4993 non-null   int64
 8   passenger_fatalities         4993 non-null   int64
 9   crew_fatalities              4993 non-null   int64
 10  ground                       4993 non-null   int64
 11  year                         4993 non-null   int64
 12  decade                       4993 non-null   int64
 13  AM_PM                        4993 non-null   object
 14  crew_fatalities_decade       4993 non-null   int64
 15  crew_fatality_rate           4993 non-null   float64
 16  total_accidents              4993 non-null   int64
 17  passenger_fatalities_decade  4993 non-null   int64
 18  deaths_of_decade             4993 non-null   int64
 19  passenger_fatality_rate      4993 non-null   float64
dtypes: float64(2), int64(13), object(5)
memory usage: 780.3+ KB

In [244]:
aa['passenger_fatalities_decade'] = aa['passenger_fatalities_decade'].astype(int)
#aa['ground'] = aa['ground'].astype(int)